form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

label{
    font-weight: bold;
    font-size: 2em;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

.result-wrapper{
    display: grid;
    grid-template-columns: 100px 200px 150px 120px 250px;
}
